@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  color-scheme: dark;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .gradient-mask {
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
}
